################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Punto_1/.vs/Punto_1/FileContentIndex
/Punto_2/.vs/Punto_2/FileContentIndex
/Punto_1/.vs/Punto_1/v17/.suo
